<launch>
	<arg name="gui" default="True" />
	<param name="robot_description" command="xacro '$(find dobot)/model/magician_standalone.xml'" />
	<param name="use_gui" value="$(arg gui)"/>
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	</node> -->
	<!-- <node name="keyboard_control" pkg="dobot" type="keyboard.py" output="screen"/> -->
	<!-- <node name="robot_teleop" pkg="dobot" type="stik.py" output="screen"/> -->

    <!-- <node name="dobot_joystick_control" pkg="dobot_py" type="joy_boy.py" output="screen"/> -->
    <node name="dobot_keyboard_control" pkg="dobot_py" type="kibot.py" output="screen"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dobot)/config/rviz.rviz" />
	
	
</launch>

